  <h3>{{ msg }}</h3>
  <div class="row">
    <div class="col-md-6">
      <h1>Chocolate</h1>
      <table>
        <tr>
          <td>
            {{ name }}
          </td>
          <td>
            {{ satisfaction }}
          </td>
        </tr>
      </table>
    </div>
  </div>
